body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1445543949571-ffc3e0e2f55e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80);
    margin: 0;
}



.gambar:hover {

    border-radius: 33% 29% 11% 12% / 75% 73% 12% 12%;
    transition: 0.5s;
}


.gambar {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 150px;
    background-size: cover;
    background-position: -150px;
    background-image: url(src/penguin.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999;
    margin-left: 400px;
    transition: 1s;
    opacity: 0.9;
    animation: penguin 2s ease-in-out 0s 1 normal forwards;
    border-radius: 47% 53% 50% 50% / 40% 39% 61% 60%;
    box-shadow: -18px -18px 29px #ffffff;

}

@keyframes penguin {

    0% {
        opacity: 0%;
    }

    10% {
        -webkit-transform: translateX(0) scale(50%);
    }

    100% {
        -webkit-transform: translateX(100px) scale(100%);
    }

}

.quot {
    width: 700px;
    height: 200px;
    margin-left: -4200px;
    margin-top: 400px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: rgba(rgb(160, 136, 136), rgb(148, 185, 148), rgb(101, 101, 134), 10%);
    position: absolute;
    z-index: 999;
    transition: 1s;
    animation: quot 2s ease-in-out 0s normal forwards;
    border-radius: 86% 38% 59% 37% / 46% 37% 46% 27%;
    border-radius: 50px;
    background: linear-gradient(315deg, #80718b, #9887a5);
    box-shadow: -18px -18px 29px #ffffff;

}

@keyframes quot {
    0% {
        opacity: 0.3%;
    }

    10% {
        -webkit-transform: translateX(0) scale(50%);
    }

    100% {
        -webkit-transform: translateX(4500px) scale(100%);
    }

}

.tulisan {
    color: white;
    position: absolute;
    z-index: 999;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #9887a5;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
}

.footer p {
    text-align: center;
}

.footer a {
    text-decoration: none;
}